/* ------------- MIXINS --------------*/
/* line 64, ../sass/mixins.scss */
.flex, .wrapper .container .header, .wrapper .container .header .nav-menu-wrap .navigation-list, .wrapper .container #first-block, .wrapper .container #third-block .features-wrap, .wrapper .container #third-block .features-wrap .feature .icon-wrap {
  display: -webkit-flex;
  display: flex;
}

/* line 69, ../sass/mixins.scss */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "acaslonpro-bolditalic";
  src: url("fonts/acaslonpro-bolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "KabelITC-Book";
  src: url("fonts/KabelITC-Book.ttf") format("truetype");
}
/* line 4, ../sass/styles.scss */
.wrapper .container {
  position: relative;
}
/* line 6, ../sass/styles.scss */
.wrapper .container .header {
  width: 95%;
  max-width: 1050px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 25px 8px 5px 38px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 19, ../sass/styles.scss */
.wrapper .container .header .nav-menu-wrap .navigation-list {
  margin-top: 25px;
  list-style: none;
}
/* line 23, ../sass/styles.scss */
.wrapper .container .header .nav-menu-wrap .navigation-list li:last-child a {
  margin-right: 0;
}
/* line 26, ../sass/styles.scss */
.wrapper .container .header .nav-menu-wrap .navigation-list a {
  margin: 0 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #12408E;
  font: bolder 15px "Montserrat-Regular", sans-serif;
  padding-bottom: 15px;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 57, ../sass/mixins.scss */
.wrapper .container .header .nav-menu-wrap .navigation-list a:hover {
  padding-bottom: 4px;
  border-color: #12408E;
}
/* line 37, ../sass/styles.scss */
.wrapper .container .header .burger {
  display: none;
}
/* line 39, ../sass/styles.scss */
.wrapper .container .header .burger span {
  display: block;
}
@media (max-width: 916px) {
  /* line 37, ../sass/styles.scss */
  .wrapper .container .header .burger {
    display: block;
  }
}
/* line 47, ../sass/styles.scss */
.wrapper .container #first-block {
  width: 100%;
  padding: 0 5%;
  background-image: url(../images/bg-first-screen.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 607px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 55, ../sass/styles.scss */
.wrapper .container #first-block .motto-wrap {
  position: relative;
  padding: 39px 0 60px;
  left: -14px;
  top: 27px;
}
/* line 60, ../sass/styles.scss */
.wrapper .container #first-block .motto-wrap .circle {
  display: block;
  position: absolute;
  height: 245px;
  width: 245px;
  top: 23px;
  left: 33px;
  background: #1D4A96;
  border-radius: 50%;
}
/* line 70, ../sass/styles.scss */
.wrapper .container #first-block .motto-wrap .text {
  position: relative;
  padding: 39px 0 19px;
  z-index: 1;
  margin-left: 65px;
}
/* line 76, ../sass/styles.scss */
.wrapper .container #first-block .motto-wrap .motto-small-text {
  font: 20px "Montserrat-Regular", sans-serif;
  color: #12408E;
  margin: 0;
  padding-left: 107px;
  position: relative;
  top: 12px;
}
/* line 83, ../sass/styles.scss */
.wrapper .container #first-block .motto-wrap .motto-small-text .inside-circle {
  margin-right: 15px;
}
/* line 87, ../sass/styles.scss */
.wrapper .container #first-block .motto-wrap .motto-big-text {
  color: #1D4A96;
  margin: 0;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font: 62px "Montserrat-Regular", sans-serif;
}
/* line 94, ../sass/styles.scss */
.wrapper .container #first-block .motto-wrap span.inside-circle {
  color: white;
  letter-spacing: normal;
}
/* line 100, ../sass/styles.scss */
.wrapper .container #second-block {
  background-color: white;
  max-width: 1004px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
  margin-bottom: 6.8%;
}
/* line 108, ../sass/styles.scss */
.wrapper .container #second-block .text {
  color: #939598;
  font: 12px "Montserrat-Regular", sans-serif;
  margin-bottom: 19px;
}
/* line 113, ../sass/styles.scss */
.wrapper .container #second-block .secondary-title {
  text-align: center;
  color: #12408E;
  font: 64px "acaslonpro-bolditalic", sans-serif;
  margin: 7.2% 0 2.3%;
}
/* line 120, ../sass/styles.scss */
.wrapper .container #third-block {
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
/* line 124, ../sass/styles.scss */
.wrapper .container #third-block .blue-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #12408E;
  opacity: 0.4;
}
/* line 133, ../sass/styles.scss */
.wrapper .container #third-block .features-wrap {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  position: relative;
  z-index: 1;
  left: -3px;
  margin-right: auto;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 143, ../sass/styles.scss */
.wrapper .container #third-block .features-wrap .feature {
  margin: 6.5% 0 9.2%;
  width: 27%;
}
/* line 146, ../sass/styles.scss */
.wrapper .container #third-block .features-wrap .feature .icon-wrap {
  margin-bottom: 50px;
  text-align: center;
  height: 171px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 152, ../sass/styles.scss */
.wrapper .container #third-block .features-wrap .feature .icon-wrap img {
  max-width: 100%;
  width: auto;
  position: relative;
  left: -11px;
  max-height: 100%;
}
/* line 160, ../sass/styles.scss */
.wrapper .container #third-block .features-wrap .feature .feature-desc {
  color: white;
  text-align: center;
  letter-spacing: 0.3px;
  font: 25px "Montserrat-Regular", sans-serif;
}
/* line 168, ../sass/styles.scss */
.wrapper .container #third-block .features-wrap .feature:first-child img {
  left: -33px;
}
/* line 171, ../sass/styles.scss */
.wrapper .container #third-block .features-wrap .feature:nth-child(2) img {
  left: -21px;
}
