/* ------------- MIXINS --------------*/
@font-face {
  font-family: "IndieFlower";
  src: url("fonts/IndieFlower.ttf") format("truetype");
}
/* line 122, ../sass/_mixins.scss */
.flex, .wrapper .page-auth {
  display: -webkit-flex;
  display: flex;
}

/* line 127, ../sass/_mixins.scss */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 133, ../sass/_mixins.scss */
.button, .wrapper .page-auth .container .tabs .content form .button-send {
  background: #549695;
  padding: 11px 20px 8px;
  float: right;
  margin: 12px 0 25px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  border: none;
  font: 700 16px "IndieFlower";
}
/* line 145, ../sass/_mixins.scss */
.button:after, .wrapper .page-auth .container .tabs .content form .button-send:after {
  content: '';
  position: absolute;
  width: 150%;
  height: 150%;
  left: 120%;
  top: -30%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.5s left;
  transition: 0.5s left;
}
/* line 158, ../sass/_mixins.scss */
.button:hover:after, .wrapper .page-auth .container .tabs .content form .button-send:hover:after {
  left: -150%;
}

/* line 4, ../sass/app.scss */
.wrapper {
  background: white;
  font-family: "IndieFlower", sans-serif;
}
/* line 7, ../sass/app.scss */
.wrapper .page-auth {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}
/* line 15, ../sass/app.scss */
.wrapper .page-auth:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
}
/* line 24, ../sass/app.scss */
.wrapper .page-auth .container {
  position: relative;
  z-index: 1;
  width: 95%;
  max-width: 500px;
  top: -50px;
}
/* line 30, ../sass/app.scss */
.wrapper .page-auth .container .tabs {
  position: relative;
  width: 100%;
}
/* line 33, ../sass/app.scss */
.wrapper .page-auth .container .tabs input.tab-selector {
  display: none;
}
/* line 35, ../sass/app.scss */
.wrapper .page-auth .container .tabs input.tab-selector:checked + label {
  background: rgba(255, 255, 255, 0.7);
  color: #549695;
}
/* line 40, ../sass/app.scss */
.wrapper .page-auth .container .tabs label.tab-label {
  cursor: pointer;
  width: 130px;
  padding: 13px 5px;
  display: inline-block;
  text-align: center;
  background: #549695;
  color: white;
  font: bold 20px "IndieFlower";
}
/* line 49, ../sass/app.scss */
.wrapper .page-auth .container .tabs label.tab-label.tab-label-2 {
  margin-left: -5px;
}
@media (max-width: 480px) {
  /* line 52, ../sass/app.scss */
  .wrapper .page-auth .container .tabs label.tab-label.tab-label-2 {
    float: right;
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  /* line 59, ../sass/app.scss */
  .wrapper .page-auth .container .tabs label.tab-label {
    width: 50%;
  }
}
/* line 64, ../sass/app.scss */
.wrapper .page-auth .container .tabs input.tab-selector-1:checked ~ .content .sign-in-form,
.wrapper .page-auth .container .tabs input.tab-selector-2:checked ~ .content .sign-up-form {
  z-index: 100;
  opacity: 1;
  transition: all ease-out 0.33s 0.23s;
}
/* line 70, ../sass/app.scss */
.wrapper .page-auth .container .tabs .content {
  background: rgba(255, 255, 255, 0.7);
  min-height: 255px;
  padding: 20px 5%;
  position: relative;
  margin-top: -1px;
}
/* line 76, ../sass/app.scss */
.wrapper .page-auth .container .tabs .content form {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  left: 5%;
  z-index: -1;
  width: 90%;
  opacity: 0;
  transition: all ease-out 0.2s 0.1s;
}
/* line 85, ../sass/app.scss */
.wrapper .page-auth .container .tabs .content form .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 7px 0;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  padding-top: 1em;
}
/* line 96, ../sass/app.scss */
.wrapper .page-auth .container .tabs .content form .input__field {
  position: relative;
  display: block;
  float: right;
  border: none;
  border-radius: 0;
  font: 400 15px "IndieFlower";
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
  padding: 0.5em 0em 0.4em;
  width: 100%;
  background: transparent;
  color: #9da8b2;
  font-size: 1.25em;
}
/* line 111, ../sass/app.scss */
.wrapper .page-auth .container .tabs .content form .input__field:focus {
  outline: none;
}
/* line 115, ../sass/app.scss */
.wrapper .page-auth .container .tabs .content form .input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  color: #696969;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  position: absolute;
  top: 0.95em;
  font-size: 16px;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
  transition: transform 0.2s 0.15s, color 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 141, ../sass/app.scss */
.wrapper .page-auth .container .tabs .content form .input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
/* line 148, ../sass/app.scss */
.wrapper .page-auth .container .tabs .content form .graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
  stroke: #92989e;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
/* line 161, ../sass/app.scss */
.wrapper .page-auth .container .tabs .content form .icon {
  color: #ddd;
  font-size: 150%;
}
/* line 166, ../sass/app.scss */
.wrapper .page-auth .container .tabs .content form .input--filled .input__label {
  color: #333;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}
/* line 172, ../sass/app.scss */
.wrapper .page-auth .container .tabs .content form .input--filled .graphic {
  stroke: #333;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}
