/* ------------- MIXINS --------------*/
/* line 13, ../sass/_mixins.scss */
.confines-width, .wrapper #header .confines-width, .wrapper .confines-width {
  width: 90%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("fonts/Roboto-Light.ttf") format("truetype");
}
/* line 131, ../sass/_mixins.scss */
.flex, .page-auth, .wrapper #header .confines-width, .wrapper #header .confines-width .right-part, .wrapper #header .confines-width .right-part #navigation ul, .wrapper #header .confines-width .right-part .personal-links, .wrapper .confines-width, .wrapper #header .confines-width .content-page .tasks .list .row, .wrapper .confines-width .content-page .tasks .list .row {
  display: -webkit-flex;
  display: flex;
}

/* line 136, ../sass/_mixins.scss */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 142, ../sass/_mixins.scss */
.button, .page-auth .container .tabs .content form .button-send, .wrapper #header .confines-width .content-page .tasks .button-add, .wrapper .confines-width .content-page .tasks .button-add {
  background: #549695;
  padding: 11px 20px 8px;
  float: right;
  margin: 12px 0 25px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  border: none;
  font: 700 16px "Roboto-Regular";
}
/* line 154, ../sass/_mixins.scss */
.button:after, .page-auth .container .tabs .content form .button-send:after, .wrapper #header .confines-width .content-page .tasks .button-add:after, .wrapper .confines-width .content-page .tasks .button-add:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  left: 170%;
  top: -53%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.8s left;
  transition: 0.8s left;
}
/* line 167, ../sass/_mixins.scss */
.button:hover:after, .page-auth .container .tabs .content form .button-send:hover:after, .wrapper #header .confines-width .content-page .tasks .button-add:hover:after, .wrapper .confines-width .content-page .tasks .button-add:hover:after {
  left: -300%;
}

/* line 2, ../sass/_auth.scss */
.page-auth {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}
/* line 10, ../sass/_auth.scss */
.page-auth:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
}
/* line 19, ../sass/_auth.scss */
.page-auth .container {
  position: relative;
  z-index: 1;
  width: 95%;
  max-width: 500px;
  top: -50px;
}
/* line 25, ../sass/_auth.scss */
.page-auth .container .tabs {
  position: relative;
  width: 100%;
}
/* line 28, ../sass/_auth.scss */
.page-auth .container .tabs input.tab-selector {
  display: none;
}
/* line 30, ../sass/_auth.scss */
.page-auth .container .tabs input.tab-selector:checked + label {
  background: rgba(255, 255, 255, 0.6);
  color: #549695;
}
/* line 35, ../sass/_auth.scss */
.page-auth .container .tabs label.tab-label {
  cursor: pointer;
  width: 130px;
  padding: 13px 5px;
  display: inline-block;
  text-align: center;
  background: #549695;
  color: white;
  font: bold 20px "Roboto-Regular";
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 45, ../sass/_auth.scss */
.page-auth .container .tabs label.tab-label:hover {
  background: #48807F;
}
/* line 48, ../sass/_auth.scss */
.page-auth .container .tabs label.tab-label.tab-label-2 {
  margin-left: -5px;
}
@media (max-width: 480px) {
  /* line 51, ../sass/_auth.scss */
  .page-auth .container .tabs label.tab-label.tab-label-2 {
    float: right;
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  /* line 58, ../sass/_auth.scss */
  .page-auth .container .tabs label.tab-label {
    width: 50%;
  }
}
/* line 63, ../sass/_auth.scss */
.page-auth .container .tabs input.tab-selector-1:checked ~ .content .sign-in-form,
.page-auth .container .tabs input.tab-selector-2:checked ~ .content .sign-up-form {
  z-index: 100;
  opacity: 1;
  transition: all ease-out 0.33s 0.23s;
}
/* line 69, ../sass/_auth.scss */
.page-auth .container .tabs .content {
  background: rgba(255, 255, 255, 0.6);
  min-height: 255px;
  padding: 20px 5%;
  position: relative;
}
/* line 74, ../sass/_auth.scss */
.page-auth .container .tabs .content form {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: -1;
  width: 90%;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all ease-out 0.2s 0.1s;
}
/* line 84, ../sass/_auth.scss */
.page-auth .container .tabs .content form .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 7px 0;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  padding-top: 1em;
}
/* line 95, ../sass/_auth.scss */
.page-auth .container .tabs .content form .input__field {
  position: relative;
  display: block;
  float: right;
  border: none;
  border-radius: 0;
  font: 400 15px "Roboto-Regular";
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
  padding: 0.5em 0em 0.4em;
  width: 100%;
  background: transparent;
  color: #9da8b2;
  font-size: 1.25em;
}
/* line 110, ../sass/_auth.scss */
.page-auth .container .tabs .content form .input__field:focus {
  outline: none;
}
/* line 114, ../sass/_auth.scss */
.page-auth .container .tabs .content form .input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  color: #696969;
  font-family: "Roboto-Light";
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  position: absolute;
  top: 0.3em;
  font-size: 16px;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
  transition: transform 0.2s 0.15s, color 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 140, ../sass/_auth.scss */
.page-auth .container .tabs .content form .input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
/* line 147, ../sass/_auth.scss */
.page-auth .container .tabs .content form .graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
  stroke: #92989e;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
/* line 160, ../sass/_auth.scss */
.page-auth .container .tabs .content form .icon {
  color: #ddd;
  font-size: 150%;
}
/* line 165, ../sass/_auth.scss */
.page-auth .container .tabs .content form .input--filled .input__label {
  color: #333;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}
/* line 171, ../sass/_auth.scss */
.page-auth .container .tabs .content form .input--filled .graphic {
  stroke: #333;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}

/* line 7, ../sass/app.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(1), body.open-menu .wrapper #header .confines-width #burger span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 12, ../sass/app.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(2), body.open-menu .wrapper #header .confines-width #burger span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 17, ../sass/app.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(1) {
  left: 2.5px;
  top: 3.5px;
}
/* line 22, ../sass/app.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(2) {
  left: calc(50% - 2.5px);
  top: 3.5px;
}
/* line 27, ../sass/app.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
/* line 32, ../sass/app.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
/* line 37, ../sass/app.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(5) {
  left: 4px;
  top: 13.5px;
}
/* line 42, ../sass/app.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(6) {
  left: calc(50% - 3px);
  top: 13.5px;
}
/* line 47, ../sass/app.scss */
body.open-menu .wrapper #header .confines-width .right-part {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* line 53, ../sass/app.scss */
.wrapper {
  background: white;
  font-family: "Roboto-Regular", sans-serif;
}
/* line 56, ../sass/app.scss */
.wrapper #header, .wrapper #footer {
  width: 100%;
  background: #549695;
}
/* line 61, ../sass/app.scss */
.wrapper #header .confines-width {
  margin-top: 0 !important;
  padding: 10px 0;
  height: 80px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
/* line 69, ../sass/app.scss */
.wrapper #header .confines-width .left-part .logo {
  width: 150px;
}
/* line 71, ../sass/app.scss */
.wrapper #header .confines-width .left-part .logo img {
  max-width: 100%;
}
/* line 76, ../sass/app.scss */
.wrapper #header .confines-width .right-part {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  width: calc(100% - 155px);
}
/* line 81, ../sass/app.scss */
.wrapper #header .confines-width .right-part #navigation ul {
  padding-left: 0;
  list-style: none;
}
/* line 85, ../sass/app.scss */
.wrapper #header .confines-width .right-part #navigation ul a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 0px 7px;
  cursor: pointer;
  margin: 0 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  border-bottom: 1px solid transparent;
}
/* line 63, ../sass/_mixins.scss */
.wrapper #header .confines-width .right-part #navigation ul a:hover {
  padding-bottom: 4px;
  border-color: white;
}
/* line 97, ../sass/app.scss */
.wrapper #header .confines-width .right-part .personal-links {
  list-style: none;
  color: white;
  font: 18px "Roboto-Regular", sans-serif;
  padding-left: 0;
  cursor: pointer;
  margin: 10px 0;
}
/* line 105, ../sass/app.scss */
.wrapper #header .confines-width .right-part .personal-links li {
  margin: 0 10px;
}
/* line 107, ../sass/app.scss */
.wrapper #header .confines-width .right-part .personal-links li:last-child {
  margin-right: 0;
  position: relative;
}
/* line 110, ../sass/app.scss */
.wrapper #header .confines-width .right-part .personal-links li:last-child:before {
  content: "/";
  position: absolute;
  left: -13px;
  top: 0;
}
/* line 118, ../sass/app.scss */
.wrapper #header .confines-width .right-part .personal-links a {
  color: white;
  border-bottom: 1px solid transparent;
  padding-bottom: 15px;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  padding: 10px 0px 11px;
  text-transform: uppercase;
}
/* line 63, ../sass/_mixins.scss */
.wrapper #header .confines-width .right-part .personal-links a:hover {
  padding-bottom: 4px;
  border-color: white;
}
@media (max-width: 768px) {
  /* line 76, ../sass/app.scss */
  .wrapper #header .confines-width .right-part {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    min-height: 100vh;
    background: white;
    z-index: 10;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: .5s transform ease-in-out;
    transition: .5s transform ease-in-out;
  }
  /* line 141, ../sass/app.scss */
  .wrapper #header .confines-width .right-part #navigation ul {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  /* line 143, ../sass/app.scss */
  .wrapper #header .confines-width .right-part #navigation ul a {
    color: red;
  }
  /* line 149, ../sass/app.scss */
  .wrapper #header .confines-width .right-part .personal-links a {
    color: red;
  }
}
/* line 155, ../sass/app.scss */
.wrapper #header .confines-width #burger {
  display: none;
  width: 30px;
  height: 22.5px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
/* line 164, ../sass/app.scss */
.wrapper #header .confines-width #burger span {
  display: block;
  position: absolute;
  height: 4.5px;
  width: 50%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* line 178, ../sass/app.scss */
.wrapper #header .confines-width #burger span:nth-child(even) {
  left: 50%;
}
/* line 182, ../sass/app.scss */
.wrapper #header .confines-width #burger span:nth-child(odd) {
  left: 0px;
}
/* line 186, ../sass/app.scss */
.wrapper #header .confines-width #burger span:nth-child(1), .wrapper #header .confines-width #burger span:nth-child(2) {
  top: 0px;
}
/* line 190, ../sass/app.scss */
.wrapper #header .confines-width #burger span:nth-child(3), .wrapper #header .confines-width #burger span:nth-child(4) {
  top: 9px;
}
/* line 194, ../sass/app.scss */
.wrapper #header .confines-width #burger span:nth-child(5), .wrapper #header .confines-width #burger span:nth-child(6) {
  top: 18px;
}
@media (max-width: 768px) {
  /* line 199, ../sass/app.scss */
  .wrapper #header .confines-width #burger {
    display: block;
  }
}
/* line 206, ../sass/app.scss */
.wrapper #header .confines-width, .wrapper .confines-width {
  margin: 15px auto;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 211, ../sass/app.scss */
.wrapper #header .confines-width .content-page, .wrapper .confines-width .content-page {
  width: 100%;
}
/* line 213, ../sass/app.scss */
.wrapper #header .confines-width .content-page .tasks, .wrapper .confines-width .content-page .tasks {
  width: 100%;
}
/* line 215, ../sass/app.scss */
.wrapper #header .confines-width .content-page .tasks .title, .wrapper .confines-width .content-page .tasks .title {
  margin: 15px 0;
  display: inline-block;
}
/* line 219, ../sass/app.scss */
.wrapper #header .confines-width .content-page .tasks .button-add, .wrapper .confines-width .content-page .tasks .button-add {
  margin: 10px 0 0 0;
}
/* line 224, ../sass/app.scss */
.wrapper #header .confines-width .content-page .tasks .list .row, .wrapper .confines-width .content-page .tasks .list .row {
  border-bottom: 1px solid #549695;
  padding: 15px 10px;
  font: 18px "Roboto-Light";
}
/* line 229, ../sass/app.scss */
.wrapper #header .confines-width .content-page .tasks .list .row .name, .wrapper .confines-width .content-page .tasks .list .row .name {
  width: 25%;
}
/* line 232, ../sass/app.scss */
.wrapper #header .confines-width .content-page .tasks .list .row .executor, .wrapper .confines-width .content-page .tasks .list .row .executor {
  width: 25%;
}
/* line 235, ../sass/app.scss */
.wrapper #header .confines-width .content-page .tasks .list .row .status, .wrapper .confines-width .content-page .tasks .list .row .status {
  width: 20%;
}
/* line 238, ../sass/app.scss */
.wrapper #header .confines-width .content-page .tasks .list .row .dates, .wrapper .confines-width .content-page .tasks .list .row .dates {
  width: 30%;
  text-align: center;
}
/* line 242, ../sass/app.scss */
.wrapper #header .confines-width .content-page .tasks .list .row select, .wrapper .confines-width .content-page .tasks .list .row select {
  cursor: pointer;
  border: none;
  outline: none;
  max-width: 100%;
  font: 18px "Roboto-Light";
}
/* line 248, ../sass/app.scss */
.wrapper #header .confines-width .content-page .tasks .list .row select option, .wrapper .confines-width .content-page .tasks .list .row select option {
  cursor: pointer;
}
/* line 252, ../sass/app.scss */
.wrapper #header .confines-width .content-page .tasks .list .row.head-row, .wrapper .confines-width .content-page .tasks .list .row.head-row {
  font: 20px "Roboto-Regular";
  background: #549695;
  color: white;
}
/* line 256, ../sass/app.scss */
.wrapper #header .confines-width .content-page .tasks .list .row.head-row .executor, .wrapper .confines-width .content-page .tasks .list .row.head-row .executor, .wrapper #header .confines-width .content-page .tasks .list .row.head-row .status, .wrapper .confines-width .content-page .tasks .list .row.head-row .status {
  padding-left: 5px;
}
@media (max-width: 768px) {
  /* line 261, ../sass/app.scss */
  .wrapper #header .confines-width .content-page .tasks .list .row, .wrapper .confines-width .content-page .tasks .list .row, .wrapper #header .confines-width .content-page .tasks .list .row select, .wrapper .confines-width .content-page .tasks .list .row select {
    font-size: 14px;
  }
  /* line 264, ../sass/app.scss */
  .wrapper #header .confines-width .content-page .tasks .list .row.head-row, .wrapper .confines-width .content-page .tasks .list .row.head-row {
    font-size: 15px;
  }
}
/* line 274, ../sass/app.scss */
.wrapper #footer {
  position: absolute;
  bottom: 0;
}
