.team-list {
	width: 100%;
	.title {
		margin: 15px 0;
		display: inline-block;
	}
	.button-add {
		@extend .button;
		margin: 10px 0 0 0; 
	}
	.list {
		.row {
			border-bottom: 1px solid $green;
			padding: 15px 10px;
			font: 18px $lightTextFont;
			@extend .flex;
			.username {
				width: 30%;
				span {
				    height: 100%;
				    position: relative;
				    top: 5px;
				}
			}
			.name {
				span {
					position: relative;
					top: 5px;
				}
			}
			.name, .role {
				width: 30%;
				select{
					height: 34px;
					width: 90%;
				} 
			}
			.one-third{
				width:33.333%;
			}
			.update {
				width: 10%;
				text-align: center;
				button {
				    height: 34px;
				    width: 34px;
				    display: inline-block;	
				    background: #549695;
				    color: white;
				    line-height: 25px;
				    text-align: center;
				    font-size: 22px;
				    border: none;
				    padding: 0;
				    border-radius: 50%;
				}

				button:hover{
					cursor: pointer;
					transform: rotate(360deg);
					transition-duration: 0.5s;
				}

				.row-input{
					height: 34px;
				}
			}  
			select {
				cursor: pointer;
				border: none; 
				outline: none;
				max-width: 100%;
				font: 18px $lightTextFont;
				option {
					cursor: pointer; 
				}
			}
			&.head-row {  
				font: 20px $textFont;
				background: $green;
				color: white;
				.executor, .status {
					padding-left: 5px;
				}
			}
			@include tablet() {
				&, select {
					font-size: 14px;
				}
				.executor {
					width: 130px;
				}
				.dates {
					width: calc(75% - 270px);
				}
				&.head-row {
					font-size: 15px;
				}
			}
		}
	}
	.pagination {
		a{
			height: 57px;
			width: 57px;
			position: relative;
			display: inline-block;
			top: -1px;
			background: #549695;
			color: white;
			line-height: 57px;
			text-align: center;
			font-size: 26px;
		}
		.pagination--right{
			float: right;
		}
		.page-amount{
			position: absolute;
		    left: calc(50% - 50px);
		    width: 100px;
		    text-align: center;
		    line-height: 57px;
		}
	}
}