<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Task-Manager{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/app.css">
</head>
<body>
    <div class="wrapper">
        <header id="header">
            <div class="confines-width">
                <!-- TODO: do something with inset CSS, please -->
                <div class="logo"><img src="static/images/logo.png" alt="logo" style="height: 60px;top: 3px;position: relative;"></div>
                <nav id="navigation">
                    <ul>
                        <li><a href="">Link1</a></li>
                        <li><a href="">Link2</a></li>
                        <li><a href="">Link3</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="confines-width">
            <main class="content-page">
                {% block content %}{% endblock %}
            </main>
        </div>

        <footer id="footer"></footer>
    </div>  
    <script src="../static/js/lib/jquery-3.2.0.min.js"></script>
    <script src="../static/js/ui.js"></script>
</body>
</html>