
{% extends "layout.html" %}

{% block title %}Task-Manager: profile{% endblock %}

{% block content %}

				<section class="profile-info">
					<div class="left-part">
						<div class="container-img"><img src="../static/images/avatar.jpg" alt="avatar"></div>
					</div>
					<div class="right-part">
						<div class="name">{{ user.username }}</div>
						<div class="username">@{{ user.username }}</div>
						<div class="row"><span class="property">Email: </span><span class="value">agushka@gmail.com</span></div>
						<div class="row"><span class="property">Роль: </span>
							<span class="value"> 
								<select name="select-role">
									{% for role in roles %}
		                                <option value="{{ role.title }}" {{ role.id == user.role_id ? "selected" : "" }} > {{ role.name }} </option>
		                            {% endfor %}
								</select>
						 	</span>
						 </div>
						<div class="row"><span class="property">Должность: </span><span class="value"> test post </span></div>
					</div>					
				</section>
{% endblock %}			