
{% extends "layout.html" %}

{% block title %}Task-Manager: profile{% endblock %}

{% block content %}

	<section class="profile-info">
		<div class="left-part">
			<div class="container-img"><img src="../static/images/avatar.jpg" alt="avatar"></div>
		</div>
		<div class="right-part">
			<div class="name">{{ current_user.username }}</div>
			<div class="username">@{{ current_user.username }}</div>
			<!--<div class="row"><span class="property">Email: </span><span class="value">agushka@gmail.com</span></div>-->
			<div class="row"><span class="property">Роль: </span>
				<span class="value">
					<select name="select-role">
						{% for role in roles %}
							<option value="{{ role.title }}" {% if role.id == current_user.role_id %} "selected" {% endif %} > {{ role.name }} </option>
						{% endfor %}
					</select>
				</span>
			 </div>
			<!--<div class="row"><span class="property">Должность: </span><span class="value"> test post </span></div>-->
		</div>
	</section>

	<!-- TODO: подключать вместо того чтобы копипастить. Разобраться с доками Twig -->
	{% if tasks %}
		<section class="tasks">
			<h1 class="title">Tasks</h1>
			<div class="list">
				<div class="row head-row">
					<div class="name">Title</div>
					<div class="executor">Executor</div>
					<div class="status">Status</div>
					<div class="dates">Dates</div>
				</div>
				{% for task in tasks %}
				<div class="row">
					<div class="name">{{ task.title }}</div>
					<div class="executor">
						{% if current_user.role == 2 %}
							<select name="select-executor">
								{% for user in users %}
								<option value="{{ user.username }}" {% if task.executor_id == user.id  %} "selected" {% endif %} > {{ user.username }} </option>
								{% endfor %}
							</select>
						{% else %}
							{% for user in users %}
								{% if task.executor_id == user.id %}
									{{ user.username }}
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
					<div class="status">

						<select name="select-status" title="{{ task.status }}">
							{% for status in statuses %}
							<option value="{{ status.id }}" {% if task.status == status.id %} "selected" {% endif %} > {{ status.name }} </option>
							{% endfor %}
						</select>
					</div>
					<div class="dates"><span class="from">12/12/12</span> - <span class="to">05/02/13</span></div>
				</div>
				{% endfor %}
			</div>
</section>
	{% endif %}
{% endblock %}			