

{% extends "layout.html" %}

{% block title %}Task-Manager: Tasks{% endblock %}

{% block content %}
    
    <section class="tasks">
        <h1 class="title">Tasks</h1>
        <div class="button-add">Add</div>                   
        <div class="list">
            <div class="row head-row">
                <div class="name">Title</div>
                <div class="executor">Executor</div>
                <div class="status">Status</div>
                <div class="dates">Dates</div>
            </div>
            {% for task in tasks %}
                <div class="row">
                    <div class="name">{{ task.title }}</div>
                    <div class="executor">
                        <select name="select-executor">
                            <option value="">Choose Executor</option>
                            <option value="Poplavskiy">Poplavskiy</option>
                            <option value="Vanya Dorn">Vanya Dorn</option>
                        </select>
                    </div>
                    <div class="status">
                        
                        <select name="select-status" title="{{ task.status }}">
                            {% for status in statuses %}
                                <option value="{{ status.name }}" {{ task.status == status.description ? "selected" : "" }} > {{ status.name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="dates"><span class="from">12/12/12</span> - <span class="to">05/02/13</span></div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}

